services:
  mongo:
    image: mongo:7.0
    container_name: monodb-with-replica-set
    ports:
      - "27017:27017"
    command: mongod --replSet rs0 --bind_ip_all
    volumes:
      - mongo-data:/data/db
    networks:
      - mongo-network
    healthcheck:
      test: echo 'db.runCommand("ping").ok' | mongosh localhost:27017/test --quiet
      interval: 5s
      timeout: 5s
      retries: 5
      start_period: 10s

  compass:
    image: haohanyang/compass-web
    container_name: mongodb-compass-webui
    environment:
      - CW_MONGO_URI=mongodb://mongo:27017
    depends_on:
      mongo:
        condition: service_healthy
    ports:
      - "8080:8080"
    networks:
      - mongo-network

volumes:
  mongo-data:

networks:
  mongo-network:
    driver: bridge